
{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off"
  }
//   "plugin:import/errors";
//   "plugin:import/warnings";
//   "plugin:import/typescript";
  }